<div class="modal fade" id="addressEditorModal" tabindex="-1" role="dialog" aria-labelledby="addressEditorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="addressEditorModal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addressEditorModalLabel">Endereço</h4>
            </div>
            <div data-type="kobind">
                <div class="modal-body">
                    <form action="#"
                          class="form-horizontal"
                          id="_phoneForm"
                          role="form">

                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Tipo</label>&nbsp;<span class="has-error" data-bind="validationMessage: AddressTypeId"></span>
                                <select class="form-control"
                                        data-bind="options: AddressTypes,
                                                   optionsText: 'DisplayText',
                                                   optionsValue: 'Value',
                                                   value: AddressTypeId,
                                                   valueUpdate: 'blur'"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Endereço</label>&nbsp;<span class="has-error" data-bind="validationMessage: Street"></span>
                                <input type="text" class="form-control" data-bind="value: Street, valueUpdate: 'blur'">
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Nº</label>&nbsp;<span class="has-error" data-bind="validationMessage: Number"></span>
                                <input type="text" class="form-control" data-bind="value: Number, valueUpdate: 'blur'">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">Complemento</label><span class="has-error" data-bind="validationMessage: Complement"></span>
                                <input type="text" class="form-control" data-bind="value: Complement, valueUpdate: 'blur'">
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Bairro</label><span class="has-error" data-bind="validationMessage: Neighborhood"></span>
                                <input type="text" class="form-control" data-bind="value: Neighborhood, valueUpdate: 'blur'">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">Cidade</label><span class="has-error" data-bind="validationMessage: City"></span>
                                <input type="text" class="form-control" data-bind="value: City, valueUpdate: 'blur'">
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">UF</label><span class="has-error" data-bind="validationMessage: State"></span>
                                <input type="text" class="form-control" data-bind="value: State, valueUpdate: 'blur'">
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">CEP</label><span class="has-error" data-bind="validationMessage: ZipCode"></span>
                                <input type="text" class="form-control" data-mask="zipCode" data-bind="textInput: ZipCode">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-label-left" data-bind="click: Save">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>