<div class="modal fade" id="addressEditorModal" tabindex="-1" role="dialog" aria-labelledby="addressEditorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="addressEditorModal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addressEditorModalLabel">Endereço</h4>
            </div>
            <div data-type="kobind">
                <div class="modal-body">
                    <form action="#"
                          class="form-horizontal"
                          id="_phoneForm"
                          role="form">

                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Tipo</label>
                                <select class="form-control"
                                        data-bind="options: AddressTypes,
                                                   optionsText: 'DisplayText',
                                                   optionsValue: 'Value',
                                                   value: AddressTypeId"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Endereço <span data-bind="validationMessage: Street"></span></label>
                                <input type="text" class="form-control" data-bind="value: Street">
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Nº</label>
                                <input type="text" class="form-control" data-bind="value: Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">Complemento</label>
                                <input type="text" class="form-control" data-bind="value: Complement">
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Bairro</label>
                                <input type="text" class="form-control" data-bind="value: Neighborhood">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">Cidade</label>
                                <input type="text" class="form-control" data-bind="value: City">
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label">UF</label>
                                <input type="text" class="form-control" data-bind="value: State">
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">CEP</label>
                                <input type="text" class="form-control" data-bind="value: ZipCode">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="addressEditorModalSaveButton" class="btn btn-primary btn-label-left" data-bind="click: Save">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>