<div class="modal fade" id="addressEditorModal" tabindex="-1" role="dialog" aria-labelledby="addressEditorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="addressEditorModal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addressEditorModalLabel">Endereço</h4>
            </div>
            <div data-type="kobind">
                <div class="modal-body">
                    <div class="row">
                        <form action="#"
                              class="form-horizontal"
                              id="_phoneForm"
                              role="form">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Endereço</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" data-bind="value: Street">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Número</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" data-bind="value: Number">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tipo</label>
                                <div class="col-sm-6">
                                    <select data-bind="options: AddressTypes,
                                                   optionsText: 'DisplayText',
                                                   optionsValue: 'Value',
                                                   value: AddressTypeId"></select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addressEditorModalSaveButton" class="btn btn-primary btn-label-left" data-bind="click: Save">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>