<div class="box">
    @Html.Partial("Forms/_BoxHeader", new BoxHeaderViewModel("Documentos", "fa fa-folder", true))
    <div class="box-content" style="display: none">
        <div id="documentsContainer">
        </div>
    </div>
</div>