<div class="modal fade" id="phoneEditorModal" tabindex="-1" role="dialog" aria-labelledby="phoneEditorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="phoneEditorModalLabel">Telefone</h4>
            </div>
            <div data-type="kobind">
                <div class="modal-body">
                    <form action="#"
                          class="form-horizontal"
                          id="_phoneForm"
                          role="form">

                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Tipo</label>&nbsp;<span class="has-error" data-bind="validationMessage: PhoneTypeId"></span>
                                <select class="form-control"
                                        data-bind="options: PhoneTypes,
                                                   optionsText: 'DisplayText',
                                                   optionsValue: 'Value',
                                                   optionsCaption: 'Selecione...',
                                                   value: PhoneTypeId,
                                                   valueUpdate: 'blur'"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Número</label>&nbsp;<span class="has-error" data-bind="validationMessage: Number"></span>
                                <input type="text" data-bind="value: Number, valueUpdate: 'blur'" data-mask="phoneNumber" class="form-control">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-label-left" data-bind="click: Save">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>