<div class="box">
    @Html.Partial("Forms/_BoxHeader", new BoxHeaderViewModel("Telefones", "fa fa-phone", true))
    <div class="box-content" style="display: none">
        <div id="phonesContainer">
        </div>
    </div>
</div>