<div class="box-content">
    <h4 class="page-header">Edição de Telefone</h4>
    <div class="col-xs-10 col-sm-10">
        @using (Ajax.BeginForm("PostPhone", "Person"
                            , new AjaxOptions() { HttpMethod = "POST", AllowCache = false }
                            , new { id = "_phoneForm", role = "form", @class = "form-horizontal", style = "display: none;" }))
        {
            //, style = "display: none;"
            <div class="form-group">
                <label class="col-sm-4 control-label">Número</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" data-bind="text: Number" />
                </div>
            </div>

            @Html.Partial("Forms/_FormButtons")
        }
    </div>
</div>