<div id="register" class="animate form">
    <form action="#" autocomplete="on">
        <h1> Solicitar login </h1>
        <p>
            <label for="email" class="youmail" data-icon="e">Seu email</label>
            <input id="email" name="email" required="required" type="email" placeholder="seuemail@seuprovedor.com" />
        </p>
        <p>
            <label for="uniqueCode" class="youpasswd" data-icon="p">Seu código unico</label>
            <input id="uniqueCode" name="uniqueCode" required="required" type="text" placeholder="ex. X8df90EO" />
        </p>
        <p class="signin button">
            <input type="submit" value="Solicitar" />
        </p>
        <p class="change_link">
            Já tem um cadastro?
            <a href="#tologin" class="to_register">Faça seu login </a>
        </p>
    </form>
</div>
