<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <ikecode>
    <person>
      <baseUrl xdt:Transform="Replace">http://personapi.clinike.com.br/api/</baseUrl>
    </person>
    <schedule>
      <baseUrl xdt:Transform="Replace">http://scheduleapi.clinike.com.br/api/</baseUrl>
    </schedule>
  </ikecode>
</configuration>