@model CheckBoxEditorViewModel
<div class="checkbox">
    <label>
        @Html.HiddenFor(model => model.Name)
        @Html.CheckBoxFor(model => model.Selected)
        @Html.DisplayFor(model => model.Title)
        <i class="fa fa-square-o"></i>
    </label>
</div>