@model ValidationSummaryEditorViewModel
@if (Model != null && Model.Messages != null && Model.Messages.Count > 0)
{
    <div class="validationSummary message">
        @foreach (var message in Model.Messages)
        {
            <div class="title">@message.Key</div>
            <ul>
                @foreach (var msg in message.Value)
                {
                    <li>@msg</li>
                }
            </ul>
        }
    </div>
}