@model BoxHeaderViewModel
<div class="box-header">
    <div class="box-name">
        @if (Model.HasIconClass)
        {
            <i class="@Model.IconClass"></i>
        }
        <span>@Model.Title</span>
    </div>
    <div class="box-icons">
        <a class="collapse-link">
            <i class="@Model.CollapsedIconClass"></i>
        </a>
        @if (Model.ShowExpandButton)
        {
            <a class="expand-link">
                <i class="fa fa-expand"></i>
            </a>
        }
    </div>
    <div class="no-move"></div>
</div>