<div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
        <button type="reset" class="btn btn-default btn-label-left">
            Limpar
        </button>

        <button type="button" class="btn btn-danger btn-label-left">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Excluir
        </button>

        <button type="submit" class="btn btn-primary btn-label-left">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Salvar
        </button>
    </div>
</div>