
<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
        @Html.Partial("_MenuProfile")
        <ul class="navigation">
            <li>
                <a href="/"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Página Inicial</span></a>
            </li>
            <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Menu Levels</span><span class="label label-warning">stick</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" href="#"><span class="mm-text">Menu</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" href="#"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Icon Menu</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>