<div class="menu-content top" id="menu-content-demo">
    <div>
        <div class="text-bg"><span class="text-slim">Olá,</span> <span class="text-semibold">Leandro</span></div>

        <img src="~/Content/demo/avatars/1.jpg" alt="" class="">
        <div class="btn-group">
            <a href="#" class="btn btn-xs btn-primary btn-outline dark" title="Mensagens"><i class="fa fa-envelope"></i></a>
            <a href="#" class="btn btn-xs btn-primary btn-outline dark" title="Perfil"><i class="fa fa-cog"></i></a>
            <a href="#" class="btn btn-xs btn-primary btn-outline dark" title="Configurações"><i class="fa fa-user"></i></a>
            <a href="#" class="btn btn-xs btn-danger btn-outline dark" title="Sair"><i class="fa fa-power-off"></i></a>
        </div>
        @*<a href="#" class="close">&times;</a>*@
    </div>
</div>
