@{
    ViewBag.Title = "Index";
}
<style>
    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }
</style>

<div class="full-calendar">
    <div class="col-sm-3">
        <div id="add-new-event">
            <h4 class="page-header">Add new event</h4>
            <div class="form-group">
                <label>Event title</label>
                <input type="text" id="new-event-title" class="form-control">
            </div>
            <div class="form-group">
                <label>Event description</label>
                <textarea class="form-control" id="new-event-desc" rows="3"></textarea>
            </div>
            <a href="#" id="new-event-add" class="btn btn-primary pull-right">Add event</a>
            <div class="clearfix"></div>
        </div>
        <div id="external-events">
            <h4 class="page-header" id="events-templates-header">Draggable Events</h4>
            <div class="external-event">Work time</div>
            <div class="external-event">Conference</div>
            <div class="external-event">Meeting</div>
            <div class="external-event">Restaurant</div>
            <div class="external-event">Launch</div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="calendar"></div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#external-events .external-event').each(function () {
            $(this).data('eventObject', {
                title: $.trim($(this).text()),
                stick: true
            });

            $(this).draggable({
                zIndex: 999999,
                revert: true,
                revertDuration: 0
            });

        });

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function (date, allDay) { // this function is called when something is dropped

                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');

                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);

                // assign it the date that was reported
                copiedEventObject.start = date;
                copiedEventObject.allDay = allDay;

                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
            }
        });
    </script>
}