@{
    Layout = null;
}
<div class="col-sm-12">
    <form class="form-horizontal" role="form" id="formPhoneDetail">
        <input type="hidden" data-bind="value: Id" name="Id" />
        <input type="hidden" data-bind="value: DateIns" name="DateIns" />
        <input type="hidden" data-bind="value: LastUpdate" name="LastUpdate" />
        <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">Número</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-bind="textInput: Number" name="Number" id="inputNumber" placeholder="Número" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Contato</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-bind="textInput: Contact" name="Contact" id="inputContact" placeholder="Contato" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhoneType" class="col-sm-3 control-label">Tipo</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" data-bind="textInput: PhoneType" name="Contact" id="inputPhoneType" placeholder="Tipo" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputAcceptSMS" class="col-sm-3 control-label">Aceita SMS?</label>
            <div class="col-sm-3">
                <input type="checkbox" data-bind="checked: AcceptSMS, value: AcceptSMS" name="Contact" id="inputAcceptSMS" />
            </div>
        </div>
    </form>
</div>