@model int
<div class="row" id="divPersonEditForm">
    <div data-bind="with: $root.person">
        @Html.Partial("_Detail")
    </div>
    <div class="col-sm-12">
        <ul id="personChildrenTabs" class="nav nav-tabs">
            <li>
                <a href="#phones" data-toggle="tab"><i class="fa fa-phone"></i> Telefones <span class="label label-success" data-bind="text: $root.phones().length > 0 ? $root.phones().length : '-'"></span></a>
            </li>
            <li>
                <a href="#addresses" data-toggle="tab"><i class="fa fa-home"></i> Endereços <span class="label label-success" data-bind="text: $root.addresses().length > 0 ? $root.addresses().length : '-'"></span></a>
            </li>
            <li>
                <a href="#documents" data-toggle="tab"><i class="fa fa-file-text"></i> Documentos <span class="label label-success" data-bind="text: $root.documents().length > 0 ? $root.documents().length : '-'"></span></a>
            </li>
        </ul>

        <div id="defaultRowActions" style="display: none">
            <a class="edit" href="javascript:void(0)" title="Editação Compacta">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="delete" href="javascript:void(0)" title="Apagar">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="defaultEditor">
            editor
        </div>

        <div class="tab-content tab-content-bordered">
            <div role="tabpanel" class="tab-pane" id="phones">
                <div id="phonesToolbar">
                    <button class="btn btn-success" type="button" name="new" title="Novo">
                        <i class="fa fa-plus"></i>
                        Novo
                    </button>
                    <button class="btn btn-primary" disabled="disabled" name="fullEdit" title="Editar">
                        <i class="fa fa-pencil"></i>
                        Edição completa
                    </button>
                </div>
                <table id="dtPhones" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>
            </div>
            <div role="tabpanel" class="tab-pane" id="addresses">
                <div id="addressesToolbar">
                    <button class="btn btn-success" type="button" name="new" title="Novo">
                        <i class="fa fa-plus"></i>
                        Novo
                    </button>
                    <button class="btn btn-primary" disabled="disabled" name="fullEdit" title="Editar">
                        <i class="fa fa-pencil"></i>
                        Edição completa
                    </button>
                </div>
                <table id="dtAddresses" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>
            </div>
            <div role="tabpanel" class="tab-pane" id="documents">
                <div id="documentsToolbar">
                    <button class="btn btn-success" type="button" name="new" title="Novo">
                        <i class="fa fa-plus"></i>
                        Novo
                    </button>
                    <button class="btn btn-primary" disabled="disabled" name="fullEdit" title="Editar">
                        <i class="fa fa-pencil"></i>
                        Edição completa
                    </button>
                </div>
                <table id="dtDocuments" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var personViewModel = new Person.ViewModel.Detail($('#divPersonEditForm')[0], @Html.Raw(Model));
    </script>

}