<div id="peopleRowActions" style="display: none">
    <a class="personEdit" href="javascript:void(0)" title="Editação Compacta">
        <i class="fa fa-pencil"></i>
    </a>
    <a class="personDelete" href="javascript:void(0)" title="Apagar">
        <i class="fa fa-trash-o"></i>
    </a>
</div>
<div id="peopleToolbar">
    <button class="btn btn-success" type="button" name="newPerson" title="Novo">
        <i class="fa fa-plus"></i>
        Novo
    </button>
    <button class="btn btn-primary" disabled="disabled" name="fullEditPerson" title="Editar">
        <i class="fa fa-pencil"></i>
        Edição completa
    </button>
</div>
<table id="dtPeople" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>

<div class="modal fade" id="divPersonEditForm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editando Pessoa (modo: compacto)</h4>
            </div>
            <div class="modal-body">
                <div class="row" data-bind="with: $root.person">
                    @Html.Partial("_Detail")
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" data-bind="click: $root.save" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var peopleViewModel = new Person.ViewModel.List($('#divPersonEditForm')[0], '#dtPeople');
    </script>

}
